{% trans_default_domain 'fos_user_bundle' %}
{% extends "@App/Base/base.html.twig" %}

{% block title %}
    {{ parent() ~ " " ~ 'Liste des produits' }}
{% endblock title %}

{% block page_content %}

    <div class="row">
        <h1 class="text-left title-text margin-left-10">
            Nos produits par catégories
        </h1>
        <hr>
    </div>

    <div class="row">
        {% for categorie in  categories %}
            {% if categorie.hasProducts %}
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail chimaf-thumbnail">
                        <img src="..." alt="...">
                        <div class="caption">
                            <h3 class="chimaf-h3">{{ categorie.nom }}</h3>
                            <p>...</p>
                            <p><a
                                    href="{{ path('produit_categorie', {'id': categorie.id}) }}"
                                    class="btn btn-primary" role="button">
                                    <i class="fa fa-eye"></i> Détails
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock  %}
