{% trans_default_domain 'fos_user_bundle' %}
{% extends "@App/Base/base.html.twig" %}

{% block title %}
    {{ parent() ~ " " ~ 'Liste des produits' }}
{% endblock title %}

{% block page_content %}

    <div class="row">
        <div class="col-lg-12">
            <p>
                {% for categorie in  categories %}
                    <a href="{{ path('produit_categorie', {'id': categorie.id}) }}" class="btn btn-sq-lg btn-primary margin-bottom-10">
                        <i class="fa {{ categorie.icone }} fa-5x"></i><br/><br/><br/>
                        {{ categorie.nom }}
                    </a>
                {% endfor %}

            </p>
        </div>
    </div>

{% endblock  %}
