{% trans_default_domain 'fos_user_bundle' %}
{% extends "@App/Base/base.html.twig" %}

{% block title %}
    {{ parent() ~ " " ~ 'Liste des factures' }}
{% endblock title %}

{% block page_content %}

    <div class="row">
        <h1 class="text-left title-text margin-left-10">
            Liste des factures
        </h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ sg_datatables_render(datatable) }}
        </div>
    </div>
{% endblock  %}
