{% trans_default_domain 'fos_user_bundle' %}
{% extends "@App/Base/base.html.twig" %}

{% block title %}
    {{ parent() ~ " " ~ 'Liste des produits' }}
{% endblock title %}

{% block page_content %}

    <div class="row">
        <h1 class="text-left title-text margin-left-10">
            Liste des produits
        </h1>
        <hr>
        </div>
    </div>
    <div class="row" style="background: #99CDD8">
        <div class="col-md-12 margin-bottom-20">
            <a
                    class="btn btn-success"
                    href="{{ path('produit_new') }}">
                <i class="fa fa-plus"></i>&nbsp;Ajouter un produit
            </a>
        </div>
        <div class="col-md-12">
            {{ sg_datatables_render(datatable) }}
        </div>
    </div>

{% endblock  %}
