body{
    /*background:url('http://www.wallpaperup.com/uploads/wallpapers/2014/09/08/438277/93b30d2ff9f4f99ceb2ddf1b9de1e99f.jpg');*/
    background-color: #FAFAFA !important;
}
.text-color-white{
    color: #fff;
}
.text-color-black{
    color: #000;
}
.text-bold{
    font-weight: bold;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-left-10 {
    margin-left: 10px;
}
.margin-left-5 {
    margin-left: 5px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-right-5 {
    margin-right: 5px;
}
.padding-10 {
    padding: 10px;
}
.padding-5 {
    padding: 5px;
}
.requiredField:after {
    content:" *";
    color: #ff0000;
}
.title-text {
    color: #4EA6BC;
    font-weight: bold;
}
.dataTables_wrapper {
    background: #e7e7e7;
}
.dataTables_wrapper > table > tbody {
    color: #000;
    text-align: left;
}
.dataTables_wrapper > table > thead, .dataTables_length{
    color: #000;
}
.dataTables_length {
    padding: 5px;
}
.chimaf-nav{
    background: #4EA6BC;
}
.chimaf-navbar {
    border: none;
    border-radius: 0 !important;
    padding: 5px;
    background: #30373B;
    color: #fff;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 5px;
    border-radius: 0;
    border: none;
    background-color: #EEEEEE;
}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.navbar {
    position: relative;
    margin-bottom: 0;
    border: none;
}
.icon-size
{
    font-size: 87px;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
ul {
    list-style-type: none;
}

input[type="text"], input[type="password"], textarea, textarea.form-control {
    height: 30px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: #888;
}

.chimaf-thumbnail {
    box-shadow: 0 2px 2px 0 rgba(0,0,255, 0.5), 0 0 0 1px rgba(0,0,255,0.08);
    box-sizing: border-box;
    opacity: 1;
}
.thumbnail{
    border-radius: 0 !important;
    border: none !important;
}

.chimaf-h3 {
    font-size: 12px;
    font-weight: bold;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: absolute;
}

/** PANIER **/
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
        width:20%;
        display: inline !important;
    }
    .actions .btn{
        width:36%;
        margin:1.5em 0;
    }

    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }

    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    table#cart tbody tr td:first-child { background: #333; color: #fff; }
    table#cart tbody td:before {
        content: attr(data-th); font-weight: bold;
        display: inline-block; width: 8rem;
    }



    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn{display:block;}

}